<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.kaist.resl.kitchenhubproducthandler">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <service
            android:name=".service.ProductHandlerService"
            android:exported="true"/>
        <receiver
            android:name=".broadcastreceivers.ServiceReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
